
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #000;
  background-color: #737373;
  font-family: 'Charmonman', cursive;
  border-radius: 25px;
  padding: 15px 0px ;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formControl{
  width :40px
}
#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 300px;
}
.userType{
  font-size: 1.4rem;
  text-align: left;
  color: #f2f2f2;
}
.boulder{
  font-size: 2.2rem;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.logout{
  position: absolute;
  right: 150px; 
}
.username{
  color: #f2f2f2;
  font-weight:bolder;
  position: absolute;
  right: 250px; 
}